.my-work-page {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.portfolio-selector {
  background-color: azure;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.portfolio-button {
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--primary-font);
  padding: 0.5rem 1rem;
  color: #7b7a7a;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
}

.portfolio-button:hover {
  color: #000;
}

.portfolio-button.active {
  color: rgb(136, 0, 0);
}

.portfolio-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
  overflow: hidden;
}

.portfolio-button:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  overflow: hidden;
}

.portfolio-gallery {
  width: 100%;
  padding: 1rem;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.portfolio-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .portfolio-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .portfolio-gallery {
    grid-template-columns: 1fr;
  }
}